dist/
www/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
/noorse-components.iml
/.idea/
/.stencil/
/dist/
/node_modules/
/package-lock.json
/storybook-static/
/.storybook/__image_snapshots__/__diff_output__/
