language: node_js
node_js:
  - "node"

cache: npm

jobs:
  include:
    - stage: build
      script: npm run build

before_deploy:
  - npm version "0.0.$TRAVIS_BUILD_NUMBER"

deploy:
  provider: npm
  email: vdputteglenn@gmail.com
  api_key:
    secure: gn+5V5rJp9ieuCGQ953I3U0b6Df4D8Y1aXmNXbZMPnrk3oGvVvzfVrJriyMDx68qJJ+eJFwgVMiPNzetT6e8+lEIm+11ZOuwZr6Pkgh3IYrbpmX7gesS/PGkli/lRg9LgmYsc93HPWmWgHDWeLebBhyVJuJaTENJKcm2axwE1XHRTQWUDXM3KgbyIGd80lEAdjqciQlFpj+9pL6fKmRI3nwsFjvs9bbZHlywGYOvurDKGCDN1NY86VwhEmCQ/sKVecUFMB48Aal/m0e+XZn8LP3oYlSn3gnC6k2hC7E/Jliq9U810oBA94EyrdFAoeiKWZxIlKekUfGOVmqlLwJ5mhAM3CiYEziJ2n/9HsVWZxe1UciQ3o3v+mkPv9MqWAHTkd5trFYDBBXqql5QvznPnha+4QNxhC1gdb6U9qwYPbfT+yuCAJ05UMh79BmIt3Kq+4W0BdCjy/zKjqhha1CzLcNZ4G+eJuQXhsCSJgOZ9FARi/nHTMOjU09aI+7JRbu6KGkQSeJoF4cNiSSFywBGP5IeelYVBrGyPzK0UdczaVBnoo9bJrxc1lzeA8HYA8fna5iu+eUL4ffeDdruDQAW0Sk+tVhy0yD6RlZnoQbiM99mMzdJbxUqZPSdcOwG+hxL7bUMjPr4OKxO8fBj8HzqEALKQYccQtuQ4Uexd1lGfNQ=
  on:
    repo: knoorsesv/noorse-components
  skip_cleanup: true
