@import '../../global/styles';

@mixin stick-header-to-top() {

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
  }

}

@mixin add-placeholder() {
  .placeholder {
    height: $navbar-height;
  }
}

@mixin drop-frame($end) {

  @keyframes drop-from-top {
    0% {
      top: -100px;
    }

    100% {
      top: $end
    }
  }
}


@mixin fix-icon {

  $icon-size: 100px;

  @include drop-frame(-3*$icon-size/5);

  .navbar-icon {
    z-index: 3;
    position: fixed;
    top: -3*$icon-size/5;
    left: -$icon-size/2;
    height: $icon-size;
    width: $icon-size;
    border-radius: 40%;
    background-color: $neurse-groen;
    animation: drop-from-top 1s;
    //background-image: url('assets/menu-icon.svg');
    img {
      color: $neurse-geel;
      position: relative;
      top: 3*$icon-size/5 + 5px;
      left: $icon-size/2 + 5px;
    }
  }

}

@mixin hide-icon() {
  .navbar-icon {
    display: none;
  }
}

@mixin hide-bar() {
  .navbar {
    display: none;
  }
}

@mixin float-menu-left() {

  .navbar-main {
    &:not(.menu-shown) {
      display: none;
    }

    &.menu-shown {
      display: inline-block;
      position: fixed;
      overflow: scroll;
      max-height: 50vh;
      flex-direction: column;
      top: 20px;
      left: 20px;
      padding-top: 20px;
      background-color: $neurse-groen;
    }
  }
}

// big-screen
@media screen and (min-width: $tablet) {
  @include hide-icon();

  .in-sight {

  }

  .out-of-sight {
    @include stick-header-to-top();
    @include add-placeholder();
  }
}

// small-screen
@media screen and (max-width: $tablet) {

  .in-sight {
    @include hide-icon();
  }

  .out-of-sight {
    @include fix-icon();
    @include float-menu-left();
    @include add-placeholder();
    @include hide-bar();
    //min-height: 0;
  }

}

.navbar {
  width: 100%;

  display: flex;
  justify-content: center;

  .navbar-main {
    display: flex;
    justify-content: center;
  }

  .navbar-dropdown {
    border-radius: $navbar-dropdown-radius;
  }

  .is-hoverable:hover {
    .navbar-dropdown {
      animation: fadeIn 1s;
      animation-timing-function: ease-out;
    }
  }

  .navbar-item {
    font-size: .8rem;
    display: flex;
    align-items: center;
    @include white-text();
    a.is-active {
      &, &:hover {
        background-color: $neurse-groen-darker;
        color: $neurse-geel;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

