@import '../../global/styles';

@mixin stick-header-to-top() {

  position: fixed;
  top: 0;
  left: 0;


}

.placeholder {
  height: $navbar-height;
}

@mixin fix-icon {
  .navbar-icon {
    z-index: 3;
    position: fixed;
    top: 20px;
    left: 20px;
    height: 20px;
    width: 20px;
    background-image: url('assets/menu-icon.svg');
  }
}

@mixin hide-icon() {
  .navbar-icon {
    display: none;

  }
}

@mixin float-menu-left() {

  .navbar-main {
    &:not(.menu-shown) {
      display: none;
    }

    &.menu-shown {
      display: inline-block;
      position: fixed;
      overflow: scroll;
      max-height: 50vh;
      flex-direction: column;
      top: 20px;
      left: 20px;
      padding-top: 20px;
      background-color: $neurse-groen;
    }
  }
}

.navbar {
  width: 100%;

  display: flex;
  justify-content: center;

  .navbar-main {
    display: flex;
    justify-content: center;
  }

  // big-screen
  @media screen and (min-width: $tablet) {
    @include hide-icon();

    &.in-sight {

      .navbar-dropdown {

      }
    }

    &.out-of-sight {
      @include stick-header-to-top();
    }

  }

  // small-screen
  @media screen and (max-width: $tablet) {

    &.in-sight {
      @include hide-icon();
    }

    &.out-of-sight {
      @include fix-icon();
      @include float-menu-left();
      min-height: 0;

    }

  }

  .navbar-dropdown {
    border-radius: $navbar-dropdown-radius;
  }

  .is-hoverable:hover {
    .navbar-dropdown {
      animation: fadeIn 1s;
      animation-timing-function: ease-out;
    }
  }

  .navbar-item {
    font-size: .8rem;
    @include white-text();
    a.is-active {
      &, &:hover {
        background-color: $neurse-groen-darker;
        color: $neurse-geel;
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

