@import '../../global/styles';

.parent-nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: $neurse-groen;
  z-index: 1;

  &.out-of-sight {
    position: fixed;
    top: 0;
    left: 0;
  }

  .navbar {

    max-width: 100%;

    .navbar-menu {
      max-width: 100%;
    }

    .navbar-start {
      justify-content: center;
      padding: 0 20px;
      flex-wrap: wrap;
    }

    .navbar-dropdown {
      border-radius: $navbar-dropdown-radius;
    }

    .is-hoverable:hover {
      .navbar-dropdown {
        animation: fadeIn 1s;
        animation-timing-function: ease-out;
      }
    }

    .navbar-item {

      font-size: .8rem;

      @include white-text();

      a.is-active {
        &, &:hover {
          background-color: $neurse-groen-darker;
          color: $neurse-geel;
        }
      }

    }

  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

}

