@import '../../global/styles';

.hero-foot {
  display: flex;
  justify-content: center;
  background-color: $neurse-groen;
}

.navbar {
  .navbar-item {

    @include white-text();

    a.is-active {
      &, &:hover {
        background-color: $neurse-groen-darker;
        color: $neurse-geel;
      }
    }

  }

  width: fit-content;
}

