@import url('https://fonts.googleapis.com/css?family=Francois+One');

$neurse-groen: #007800;
$neurse-geel: #ffcc00;
$header-font: 'Francois One', arial, serif;

html {
  font-family: 'Cabin', arial, serif;
}
