@import url('https://fonts.googleapis.com/css?family=Francois+One');

$neurse-groen: #007800;
$neurse-groen-darker: #006600;
$neurse-groen-lighter: #009900;
$neurse-geel: #ffcc00;
$header-font: 'Francois One', arial, serif;

