
.box {

  padding: 20px 2rem;
  position: relative;
  background-color: $neurse-groen;
  border-radius: 4px;
  overflow-y: scroll;
  color: white;
  font-weight: 200;
  font-size: 0.8rem;
  margin-bottom: 10px;

  h1 {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    color: $neurse-geel;
    border-bottom: solid 1px $neurse-geel;
    margin-bottom: 1.5rem;
    font-family: $header-font;
  }
}
